@media screen and (max-width: 427px) {
  #pc {
    display: none;
  }
  #confiture, #glace, #gateau, #yaourt {
    max-height: 80px;
  }
  #rouge {
    max-height: 948px;
  }
  #sommes {
    display: none;
  }
}

@media screen and (max-width: 833px) {
  #pc {
    display: none;
  }
  main #video {
    display: none;
  }
  #rouge{
    min-height: 500px;
  }
}

#container{color: white;}
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }


#logoheader{
  display: flex;
  align-items: center;
}

#table{
  display: flex;
  justify-content: center;
}

table{
  width: 95%;
  margin: 20px;
}

table th{
  text-align: center;
}

table, #td1, #td2{
    border: 2px solid #333;
}

#td1{
  width: 1000px;
}

#td2{
  width: 1000px;
}

thead,
tfoot {
    background-color: rgb(43, 20, 39);
    color: #fff;
}

#icone2{
  color: black;
  margin-right: 8px;

}

#icone{
  color: black;
  border: 1px black solid;
  margin-left: 10px;
}

#souscard{
  width: 70%;
}

#comms2, #card2 {
  display: flex;
  justify-content: center;
}

#comms{
  color: rgb(201, 201, 201);
  background-color: rgba(0, 0, 0, 0.519);
  border-radius: 10px;
  width: 50%;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#datecomms{
  font-size: 1em ;
  font-style: italic;
}


#contenu{
  background-color: #1c192347;
  border-radius: 10px;
  margin: 50px;
  padding: 20px;
}

#card{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

#recettedetail{
  color: #d8d8d8;
}

#recettedetail ul{
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

#recettedetail h1, #recettedetail h2{
  text-decoration: underline;
}

#instructions{
  background-color: #1c192347;
  border-radius: 10px;
  margin: 50px;
  padding: 20px;
}

#publication{
  font-style: italic;
}

#submit{
  font-size: 40px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.360);
}


#nom, #total, #ingredients, #ustensiles, #preparation, #note, #tags, #difficulté, #procedure, #cuisson{
  background-color: rgba(255, 255, 255, 0.360);
  display: inline-block;
  font-size: 20px;
  display: flex;
}


form{
  font-size: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}


legend{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  -webkit-text-stroke: 1px black;
}

#rouge{
  min-height: 1440px;
}


#main{
  height: 841px;
  text-align: center;
  color: white;
  font-size: 40px;
}


#confiture, #glace, #gateau, #yaourt {
  height: 150px;
  min-width: 1000px;
  
}

.bloc{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.article{
  display: flex;
  align-items: center;
  justify-content: center;
}

#mail{
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin: 100px;
}


a:link, a:visited,  a:hover, a:active{
  color: black;
  text-decoration: none;
}

* {
  font-family: 'rudaregular',Arial, Helvetica, sans-serif;
}

#pc ul {
  color: white;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-text-stroke: 0.2px black;
  margin-bottom: 20px;
}

#pc ul li {
  background-color: rgba(255, 255, 255, 0.438);
  border-radius: 10px;
  padding-top: 10px;
  margin: 3px;
  font-size: large;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


#menu:not(:target) {
  display: none;
}

#menu:target {
  display: block;
  background-color: #e5e5e58a;
  list-style-type: none;
  width: 300px;
  padding-left: 20px;
  font-size: 40px;
  position: absolute;
  top: 0px;
}

#logo_menu {
  margin-left: -20px;
}

li {
  padding-bottom: 10px;
}

#wrap:not(:target) {
  display: none;
}

#wrap:target {
  display: block;
  opacity: 0.7;
  font-size: 1.8em;
  margin: auto;
}

main {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

h1 {
  text-align: center;
  color: white;
}

img {
  position: relative;
}

#video {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
}

#confiture, #glace, #gateau, #yaourt {
  background-size: cover;
  background-position: center;
  margin: 22px;
  padding: 40px;
  border-radius: 5px;
  -webkit-text-stroke: 0.1px black;
  font-size: 3em;
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-weight: bold;
  font-size: 25px;
}


/* Footer */
/* --------------------------------------------------------------------------------- */
.pfooter{
  font-size: x-large;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

#reseaux{
  display: flex;
  justify-content: space-evenly;
}

.logo{
  height: 70px;
  margin: 30px;
}

#contactinfos{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
}

.iconify {
  width: 79.81px;
  height: 82px;
}

a:link {
  text-decoration: none;
}