{% extends 'layout.html.twig' %}

{% block title %}Détail de ma commande{% endblock %}

{% block body %}
<style>
    tr{
        border: 1px solid black;
    }
    td{
        font-weight: bold;
        text-align: center;
        color: white;
    }
    tr{
        margin: 10px;
    }
    h1{
        color: white;
    }
</style>


<h1>Vous avez commandé:</h1>
<table>
    <thead>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Prix</th>
    </thead>
    {% for ligne in commande.ligneCommandes %}
        <tr>
            <td>{{ligne.produit.nom}}</td>
            <td>{{ligne.quantite}}</td>
            <td>{{ligne.prix}}€</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}

