{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<form action="test2" method="post">

    <label for="name">nom</label>

    <input type="text" id="name" name="name" required
           minlength="4" maxlength="8" size="10">


</form>


{% endblock %}
