 {% extends 'layout.html.twig' %}

    {% block title %}Ajout d'un sujet de discussion{% endblock %}
    
    {% block body %}
        <h1>Ajout d'un sujet de discussion</h1>
        <div style="text-align: center;">
            {{ form(form) }}
        </div>
        
    {% endblock %}